/fusiondata/labels/
/fusiondata/selected_imgs/
/fusiondata/filter_ADSB/
/fusiondata/annotations/
/filter_video/
/interpolated_sampled_ADSB/resampled_ADSBcut/
/interpolated_sampled_ADSB/adsb_cut/
/interpolated_sampled_ADSB/filter_ADSB/
/interpolated_sampled_ADSB/train/
/轨迹预测数据/result_ADSB/
